@charset "UTF-8";

/**************************

規約情報！

基本構成：header, main, footer, responsive

レスポンシブ部分は、pc部分とわかりやすく分けるため、
tabを一回入れている。

**************************/

body {
	color: #333;
}

a {
	text-decoration: none;
}

a:hover {

}

.container {

}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

.clearfix{
  display: inline-block;
}

/**************************
header start
**************************/

#header {

}

#header header {

}

/**************************
header end
**************************/


/**************************
main start
**************************/

#main {

}

#content {

}

/**************************
main end
**************************/



/**************************
footer start
**************************/

#footer {

}

#copyright {

}

/**************************
footer end
**************************/

/**************************
responsive start
**************************/

@media screen and (min-width: 640px) {

	/**************************
	header start
	**************************/

	#header {

	}

	#header header {

	}

	/**************************
	header end
	**************************/


	/**************************
	main start
	**************************/

	#main {

	}

	#content {

	}

	/**************************
	main end
	**************************/



	/**************************
	footer start
	**************************/

	#footer {

	}

	#copyright {

	}

	/**************************
	footer end
	**************************/

}


/**************************
responsive end
**************************/